<div class="login-page">
  <header>
    <h2 style="text-align: center;">Login</h2>
  </header>
  <main>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': f.email.errors }" />
              <div *ngIf="f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
          </div>
          <div class="form-group">
              <label>Password</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': f.password.errors }" />
              <div *ngIf="f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
          </div>
          <div class="form-group">
              <button class="btn btn-primary">Login</button>
          </div>
      </form>
      </div>
    </div>
  </main>
</div>
